/* 
    Document   : style
    Created on : Jun 18, 2013, 12:51:58 AM
    Author     : sjoorm
    Description:
        Purpose of the stylesheet follows.
*/
.treeBox {
    padding: 5px;
}

.treeTitle {
    cursor: pointer;
}

.treeContent {
    display: none;
}

.treeData {
    font-family: monospace;
}